*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: hsl(218, 23%, 16%);
}

article {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-rows: auto 200px 1fr;
  background-color: hsl(217, 19%, 24%);
  gap: 2em;
  width: clamp(350px, 50vw, 500px);
  border-radius: 0.75em;
  color: hsl(193, 38%, 86%);
  padding: 3em;
}

header {
  color: hsl(150, 100%, 66%);

  & > p {
    letter-spacing: 0.25ch;
  }
}

main {
  font-size: clamp(1.5em, 2.5vw, 2em);
  text-align: center;

  & > q {
    line-height: 2ch;
  }
}
footer {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 50px;
  & > div {
    position: absolute;
    display: grid;
    place-items: center;
    bottom: -3em;
    width: 56px;
    height: 56px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 1em;
    box-shadow: 0px 0px 0px transparent;
    transition: all 0.25s ease-out;

    & > img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 40px hsl(150, 100%, 66%);
    }
  }

  & > span {
    width: 100%;
    height: 100%;
    background-image: url(./images/pattern-divider-desktop.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 800px) {
  article {
    min-width: 90%;
  }

  footer > span {
    background-image: url(./images/pattern-divider-mobile.svg);
  }
}
